CREATE DATABASE [CodeTest] CONTAINMENT = NONE
	ON PRIMARY (
		NAME = N'CodeTest',
		FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CodeTest.mdf',
		SIZE = 8192KB,
		FILEGROWTH = 8192KB		-- Since it's a demo project.
	)
	LOG ON (
		NAME = N'CodeTest_log',
		FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CodeTest_log.ldf',
		SIZE = 8192KB,
		FILEGROWTH = 8192KB		-- Since it's a demo project.
	)
GO

USE [CodeTest]
GO

USE [CodeTest]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [CodeTest] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO


CREATE TABLE dbo.Vehicle (
	ID int IDENTITY(1,1) NOT NULL,
	Model nvarchar(50) NOT NULL,
	Year int NOT NULL,
	Description nvarchar(max) NULL,

	CONSTRAINT PK_Vehicle PRIMARY KEY CLUSTERED (
		ID ASC
	)

	WITH (
		PAD_INDEX = OFF,
		STATISTICS_NORECOMPUTE = OFF,
		IGNORE_DUP_KEY = OFF,
		ALLOW_ROW_LOCKS = ON,
		ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

EXEC sys.sp_addextendedproperty
	@name=N'MS_Description',
	@value=N'PK',
	@level0type=N'SCHEMA',
	@level0name=N'dbo',
	@level1type=N'TABLE',
	@level1name=N'Vehicle',
	@level2type=N'COLUMN',
	@level2name=N'ID'
GO

CREATE UNIQUE NONCLUSTERED INDEX IX_Model_Year
	ON dbo.Vehicle (Model, Year);
GO
